@model MvcProject.Models.UserViewModel

@{
    ViewBag.Title = "Home";
}

<br />

<div class="form-horizontal">
    <div class="row">
        <div>
            @if (Model.UserPhoto != null)
            {
                <img class="col-md-5" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.UserPhoto)" />
            }
            else
            {
                <p class="col-md-5 text-muted text-center">No photo...</p>
            }
        </div>
        <div class="col-md-5 form-horizontal">
            <div class="form-group lead">
                @Model.FirstName @Model.LastName
            </div>
            <div class="form-group">
                @Model.DateOfBirth.ToShortDateString()
            </div>

            @if (User.Identity.Name != Model.UserName)
            {
                <div class="form-group">
                    <a href="/Home/Photos/@Model.UserName/0" class="btn btn-default">
                        See photo album of @Model.FirstName
                    </a>
                </div>
            }

        </div>
        <div class="col-md-2 text-right">
            @if (User.Identity.Name == Model.UserName)
            {
                if (User.IsInRole("admin"))
                {
                    <a href="/Admin/UsersEdit">
                        <span class="glyphicon glyphicon-user"></span>
                        Edit users
                    </a>
                }
                <br />
                <a href="/Home/UserSettings">
                    <span class="glyphicon glyphicon-cog"></span>
                    Settings
                </a>
            }
        </div>
    </div>
</div>
