body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #808080;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: lightgray;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.big-photo {
    max-width: 100%;
}

.normal-photo {
    max-width: 50%;
}

.photo-in-list {
    width: 80px; 
    height: 80px;
}

.name-overflow-cut {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-gray {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}

.last-photo {
    height: 150px;
}

.last-photo-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.last-photo-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.user-who-rated {
    min-width: 250px;
}

.custom-menu,
.custom-menu ul,
.custom-menu li
{
  padding: 0px;
  margin: 0px;
}
.custom-menu li
{
  list-style-type: none;
}
.custom-menu ul
{
  display: none;
}
.custom-menu li:hover > ul
{
  display: block;
}
.custom-menu ul.parent_hover
{
  display: block;
}