@using MvcProject.Infrastructure.Helpers
@model MvcProject.Models.UsersViewModel

@{
    ViewBag.Title = "Edit users";
}

<h2>
    All users
    <img src="/Content/loader.gif" alt="loading..." id="loadingUsers" style="display:none" />
</h2>
<h5>@Html.ActionLink("Back to profile", "Index/", "Home")</h5>
<hr />

<div class="row col-md-12">
    @Html.PageLinks(Model.PageInfo, "usersEdit", "loadingUsers", x => Url.Action("UsersEdit", new { page = x }))
    <br />
    <br />
</div>
<div id="usersEdit">
    @Html.Partial("_UsersEdit", Model.Users)
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
